[Desktop Entry]
Version=0.0.2
Name=Hangman
Comment=Hangman game with as themes the learning areas of cycles 2 and 3 of primary school. 
Exec=/usr/bin/pendu-peda-gtk
Icon=/usr/share/pendu-peda-gtk/pendu-peda.png
Terminal=False
Type=Application
Categories=Education;
Keywords=Hangman;education;
Name[fr_FR]=Le pendu pédagogique
Name[fr_FR.UTF-8]=Le pendu pédagogique
Name[fr_FR.utf8]=Le pendu pedagogique
