#onglet23 {
  background-color: #DCDCDC;
  color: black;
}
#bold {
  font-weight: bold;
}
#img {
  padding: 75px 0px 75px 0px;
}
#bouton-lettres {
  text-shadow: 1px 1px 1px black  ;
  box-shadow: 7px 7px 1px black ;
  padding : 10px 10px 10px 10px  ;
  font-size:20px;
}
#bouton-lettres:hover {
  text-shadow: 1px 1px 1px grey;
  box-shadow: 3px 3px 1px grey;
  font-weight: bold;
  padding : 10px 10px 10px 10px;
  color: blue;
  font-size:20px;
}
#bouton-lettres-inactif {
  background-color: white ;
  padding : 10px 10px 10px 10px ;
}
#mot_choisi {
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: bold;
  color: blue;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#labelScore {
  color:blue;
}
frame {
 color:black;
 padding:10px 10px 10px 10px;
 color:black;
}
#test {
padding: 3px 1px 3px 1px;
}